.carousel-content .carousel-indicators li{
    width: 11px;
    height: 11px;
    background: white;
    border: 1.5px solid transparent;
    border-radius: 50%;
    opacity: 1;
}
.carousel-content .carousel-indicators li.active{
    background: rgb(211, 10, 44);

}
.carousel-content .carousel-control-next-icon,.carousel-content .carousel-control-prev-icon{
    width: 50px;
    height: 50px;

}
.carousel-content .carousel-inner {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-content .carousel-inner img {
    max-height: 640px;
}

.carousel-content .carousel-item-image:hover .button-carousel-video{
    opacity: 1;
    color:white;
}

.carousel-content .carousel-item-image .button-carousel-video{
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
}
.carousel-content .carousel-item-image .button-carousel-video:hover{
    color: red;
}

.carousel-content .button-modal-video {
    cursor: pointer;
}

