.bgLoading{
    z-index: 1000;
    background-color:#f8f8f8;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 55;
}
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 0.775);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    font-size: 3rem;
    color: #e6f7ff;
}