.showtime__content {
    box-shadow: 1px -30px 20px 45px #0a2029;
    width: 100%;
    background: #0a2029;
}
.showtime__content .showtime__hethongrap {
    margin: auto;
}
@media screen and (min-width: 767px) {
    .showtime__content .showtime__hethongrap {
        min-height: 560px;
        border-radius: 10px;
        max-width: 992px;
        margin: auto;
    }
}

/* render danh sách hệ thống rạp */
@media screen and (min-width: 767px) {
    .showtime__content .list__hethongrap {
        max-height: 550px;
        overflow-y: auto;
    }
}
.showtime__content .list__hethongrap::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ddd9d9;
}
.showtime__content .list__hethongrap::-webkit-scrollbar {
    width: 5px;
}
.showtime__content .list__hethongrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #716c6caa;
}

/*render thông tin */
.showtimes__info {
    max-width: 992px;
    margin: auto;
}
.showtimes__info iframe {
    width: 700px;
    height: 430px;
}
.showtimes__info h6 {
    color: white;
}
/* phần chuyển tab */
.showtime__content .none-active-tab:hover {
    transform: scale(1.1);
}
.showtime__content .none-active-tab {
    margin: 20px;
    font-size: 20px;
    color: white;
    transition: 0.2s;
    display: inline-flex;
    font-weight: 600;
    cursor: pointer;
}
.showtime__content .active-tab {
    transform: scale(1.1);
    color: red;
    opacity: 1;
}

/* active hệ thống rạp*/
.showtime__content .none-htr {
    font-weight: 650;
    font-size: "17px";
    color: #2b363c;
    opacity: 0.4;
    cursor: pointer;
}
.showtime__content .active-htr {
    transition: 0.2s;
    opacity: 1;
}

/* showtime__item */

.showtime__content .showtime__item {
    border-radius: 0 10px 10px 0px;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}
@media screen and (max-width: 767px) {
    .showtime__content .showtime__item {
        max-height: 400px;
        border: none !important;
    }
}

.showtime__content .showtime__item::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ddd9d9;
}
.showtime__content .showtime__item::-webkit-scrollbar {
    width: 5px;
}

.showtime__content .showtime__item::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #716c6caa;
}

.showtime__content .showtime__item .date__time__content:hover .time {
    color: #ff3d00 !important;
}
@media screen and (max-width: 374px) {
    .showtime__content .showtime__item .date__time {
        text-align: center;
        padding: 2px;
    }
}
